<div class="expense-item">

  <div *ngIf="!editExpense" class="expense-element">
    <h2 class="expense-element-nature" >
      {{ expense.nature }} : {{ expense.convertedAmount.amount + expense.convertedAmount.currency }}
    </h2>
    <div class="expense-element-original">
      Original amount : {{ expense.originalAmount.amount + expense.originalAmount.currency }}
    </div>
    <div class="expense-element-date">
      <div>Purchased the : {{ expense.purchasedOn }}</div>
      <div>Modified the : {{ expense.lastModifiedAt }}</div>
      <div>Created the : {{ expense.createdAt }}</div>
    </div>
    <div class="expense-element-comment">
      {{ expense.comment }}
    </div>
  </div>

  <form *ngIf="editExpense" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="nature" >Nature of the expense : </label>
      <input [(ngModel)]="currentNatureEdit" [ngClass]="{ error: natureError }" required type="text" name="nature" id="nature" placeholder="Restaurant, hotel.." value="{{ currentNatureEdit }}">
    </div>
    <div class="form-control">
      <label for="date">Date of the expense : </label>
      <input [(ngModel)]="currentDateEdit" [ngClass]="{ error: dateError }" required type="date" name="date" id="date" value="{{ currentDateEdit }}" />
    </div>
    <div class="form-control">
      <label for="price">Price of the expense : </label>
      <input [(ngModel)]="currentOriginalPriceEdit" [ngClass]="{ error: priceError }" required type="number" name="price" id="price" placeholder="20,00.." />
    </div>
    <div class="form-control">
      <label for="currency">Currency : </label>
      <select [(ngModel)]="currentOriginalCurrencyEdit" [ngClass]="{ error: currencyError }" id="currency" name="currency" >
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
        <option value="USD">USD</option>
      </select>
    </div>
    <div class="form-control">
      <label for="comment">Comment : </label>
      <textarea [(ngModel)]="currentCommentEdit" maxlength="60" spellcheck name="comment"  id="comment" placeholder="8 days in New York..." value="{{ currentCommentEdit }}" ></textarea>
    </div>
    <input class="form-button" type="submit" value="Save Expense">
  </form>

  <fa-icon
    [icon]="faTimes"
    [ngStyle]="{'color' : 'red'}"
    class="expense-item-delete fa-2xl"
    (click)="onDeleteExpense(expense)"
  ></fa-icon>

  <fa-icon
    *ngIf="!editExpense"
    [icon]="faPenToSquare"
    [ngStyle]="{'color' : 'green'}"
    class="expense-item-edit fa-xl"
    (click)="toggleEditForm(); getCurrentExpense(expense)"
  ></fa-icon>

</div>
