@media (max-width: 720px) {
  .expenses-list {
    margin: 2em 0;

    &-pagination {
      position: relative;
    }

    .pagination-number {
      text-align: center;
    }

    .arrow {
      position: absolute;

      &.left {
        left: 5%;
      }

      &.right {
        right: 5%;
      }
    }

    .error {
      border: 2px solid red;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .form-group {
        width: 100%;
        text-align: center;
      }

      .radios {
        margin-bottom: 0.5em;
      }

      .submit-button {
        margin-top: 0.5em;
        width: 45%;
        border: none;
        border-radius: 5px;
      }

      .submit-button:first-child {
        background-color: #233867;
        color: white;
      }
    }

  }

}

@media (min-width: 720px) {
  .expenses-list {
    margin: 2em 10%;

    &-pagination {
      position: relative;
    }

    .pagination-number {
      text-align: center;
    }

    .arrow {
      position: absolute;

      &.left {
        left: 15%;
      }

      &.right {
        right: 15%;
      }
    }

    .error {
      border: 2px solid red;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .form-group {
        width: 100%;
        text-align: center;
      }

      .radios {
        margin-bottom: 0.5em;

        input {
          margin-right: 1.5em;
        }
      }

      .submit-button {
        margin-top: 0.5em;
        width: 45%;
        border: none;
        border-radius: 5px;
      }

      .submit-button:first-child {
        background-color: #233867;
        color: white;
      }
    }
  }
}
