<app-add-expense
  (onSubmitExpense)="addExpense($event)"
>
</app-add-expense>
<div class="expenses-list">
  <div>
    <form (ngSubmit)="filterSubmit()">
      <div class="form-group radios" >
        Filter by :
          <label for="modifiedAt">
            Created
          </label>
          <input [(ngModel)]="filter" type="radio" name="createdAt" id="createdAt" value="createdAt">
          <label for="modifiedAt">
            Bought
          </label>
          <input [(ngModel)]="filter" type="radio" name="purchasedOn" id="purchasedOn" value="purchasedOn">
          <label for="modifiedAt">
            Modified
          </label>
          <input [(ngModel)]="filter" type="radio" name="modifiedAt" id="modifiedAt" value="modifiedAt">
        </div>
        <div class="form-group">
          <label for="dateFilter">
            ...after the :
          </label>
          <input [ngClass]="{ error: dateError }"  name="dateFilter" id="dateFilter" [(ngModel)]="dateFilter" type="date">
        </div>
        <div class="form-group">
          <input type="submit" class="submit-button" value="Filter">
          <input type="button" (click)="unfilter()" class="submit-button" value="Remove filter">
        </div>
    </form>

  </div>
  <app-expense-item
    *ngFor="let expense of currentExpensesPage"
    [expense]="expense"
    (expenseToDelete)="deleteExpense(expense)"
    (onSubmitEdit)="putExpense($event)"
  ></app-expense-item>
  <div class="expenses-list-pagination">
    <div class="pagination-number">
      Page {{ currentPageNumber }}
    </div>
    <fa-icon
    *ngIf="currentPageNumber !== 1"
    [icon]="ArrowLeft"
    class="arrow left fa-2xl"
    (click)="lowerExpensePage()"
    ></fa-icon>
    <fa-icon
    *ngIf="maxPages !== currentPageNumber"
    [icon]="ArrowRight"
    class="arrow right fa-2xl"
    (click)="higherExpensePage()"
    ></fa-icon>
    <form (ngSubmit)="changePaginationFormat()" class="elements-display">
      <label for="elementsDisplayed">
        Expenses to display
      </label>
      <input [(ngModel)]="elementsToDisplay" name="elementsDisplayed" id="elementsDisplayed" type="number">
      <input class="submit-button" type="submit" value="Change format">
    </form>
  </div>
</div>
